@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

body {
    height: 100vh;
    width: 100%;
    background: #6665ee;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.wrapper .top {
    height: 140px;
    background: #1414b8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
    position: relative;
}

.wrapper .top::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #1414b8;
    bottom: -10px;
    transform: rotate(45deg);
}

.wrapper .top i {
    font-size: 70px;
    color: #ccc;
}

.wrapper .bottom {
    padding: 30px;
}

.wrapper .bottom .info {
    font-size: 20px;
    font-weight: 500;
}

.wrapper .bottom .input-box {
    width: 100%;
    height: 45px;
    margin: 15px 0 10px 0;
}

.wrapper .bottom .input-box input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 25px;
    outline: none;
    transition: all 0.4s ease;
}

.wrapper .bottom input[type="text"] {
    padding-left: 20px;
    border: 2px solid #ccc;
}

.wrapper .bottom input[type="text"]:focus,
.wrapper .bottom input[type="text"]:valid {
    border-color: #1414b8;
}

.wrapper .bottom input[type="submit"] {
    border: none;
    background: #6665ee;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper .bottom input[type="submit"]:hover {
    background: #1414b8;
}

.wrapper .bottom .footer {
    font-size: 16px;
    margin-top: 12px;
}

/* responsiveness */

@media (max-width: 450px) {

    .wrapper {
        max-width: 350px;
        width: 100%;
    }

    .wrapper .bottom .info {
        font-size: 18px;
    }

    .wrapper .bottom .input-box input {
        font-size: 16px;
    }
}

@media (max-width: 400px) {

    .wrapper {
        max-width: 300px;
        width: 100%;
    }
}

@media (max-width: 360px) {

    .wrapper {
        max-width: 280px;
        width: 100%;
    }
}